/* COLORS
	background:
		dark green:	#4B9283
		grey:		#2C2C2C
		pink: 		#FF5F5F
		white: 		#FCFCFC

	new pallette green:
		light yellow : #FFF1BC;
		light green: #7DC383;
		darker green: #699C78;

  FONTS;
		font-family: 'Special Elite', cursive;
		font-family: 'Oswald', sans-serif;
*/


body, html {
	height: 100vh; 

}

body {
	font-family: 'Rubik Mono One', sans-serif;;
	background-color: #2c2c2c;
	background-image: url("../images/blacksand.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;

}

body h1 {
	color: #FCFCFC;
}

.myfooter {
  position: absolute;
  bottom: 0;
  width: 100%; 
}

.myfooterPhoto {
  position: absolute;
  width: 100%; 
}





/*-------------NABVAR---------------*/ 
/* Add a black background color to the top navigation */


.topnav {
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	background-color: transparent;
  	overflow: hidden;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #FCFCFC;
  font-weight:700;
  text-shadow: 1px 1px 2px black, 0 0 25px black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #FF5F5F;
  text-decoration: none;
  text-shadow: none;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: #FCFCFC;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* MAIN PAGE*/



.gallery {
	margin-top: 75px;
}
.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	height: 80%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
}
.name-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; /* or inline-flex */
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.disc {
	-webkit-animation-delay: 2.2s;
	animation-delay: 2.2s;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

.main h1 {
	color: #FCFCFC;

	font-size: 100px;
/*	font-weight:700;*/
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 25px black;
	margin-bottom: 26px;
}
.main h2 {
	color: #FCFCFC;
/*	font-weight: 300;*/
}

/*-------------    
---------info

---------------*/ 
/*tachyons info*/


.info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.info a {
	color: #FF5F5F;
}


/*-------------    
---------Photo Gallery

---------------*/ 
.egor {
	max-width: 100%;
}


.colormine {
    color: #FF5F5F;
}

.hover-my-white:hover {
    color: #FCFCFC;
}


.hover-back-black:hover {
    background-color: #2C2C2C;
}


.myBtn {
	margin: 16px;
	margin-bottom: 8px;
	position: fixed;
	top: 0;
	z-index: 1;
}



@media (max-width: 767px) {
	.main h1 {
		font-size: 70px;
	}
	
	.main h2 {
		font-size: 18px;
	}
	
/*
	.info h2 {
		font-size: 20px;
	}
*/
	
	.phone {
		font-size: 15px;
	}
	
	.info h2 {
		font-size: 22px;
	}
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }

    .w-50-ns {
        width: 50%;
    }
}

