/* COLORS
	background:
		dark green:	#4B9283
		grey:		#2C2C2C
		pink: 		#FF5F5F
		white: 		#FCFCFC

	new pallette green:
		light yellow : #FFF1BC;
		light green: #7DC383;
		darker green: #699C78;

  FONTS;
		font-family: 'Special Elite', cursive;
		font-family: 'Oswald', sans-serif;
*/


body, html {
	height: 100%; 

}

body {
/*	font-family: 'Roboto', sans-serif;*/
	font-family: 'Rubik Mono One', sans-serif;
	background-color: #2c2c2c;

	background-image: url("../images/blacksand.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;

}

body h1 {
	color: #FCFCFC;
}



/*-------------NABVAR---------------*/ 
/* Add a black background color to the top navigation */


.topnav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	background-color: transparent;
  	overflow: hidden;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #FCFCFC;
  font-weight:700;
  text-shadow: 1px 1px 2px black, 0 0 25px black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #FF5F5F;
  text-decoration: none;
  text-shadow: none;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: #FCFCFC;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* MAIN PAGE*/

.gallery {
	margin-top: 75px;
}
.main {
/*	font-family: 'Quantico', sans-serif;*/
/*	font-family: 'Bangers', cursive;*/
	font-family: 'Rubik Mono One', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	height: 80%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
}
.name-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; /* or inline-flex */
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.main h1 {
	color: #FCFCFC;

	font-size: 100px;
	font-weight:700;
	text-shadow: 1px 1px 2px black, 0 0 25px black;
}



/*-------------    
---------Photo Gallery

---------------*/ 

.border-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ba {
    border-style: solid;
    border-width: 1px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.w1 {
    width: 1rem;
}

.colormine {
    color: #FF5F5F;
}

.hover-my-white:hover {
    color: #FCFCFC;
}

.hover-white:focus {
    color: #fff;
}

.hover-back-black:hover {
    background-color: #2C2C2C;
}

.hover-bg-black:focus {
    background-color: #000;
}

.pa3 {
    padding: 1rem;
}

.pa4 {
    padding: 2rem;
}

.pl1 {
    padding-left: .25rem;
}

.pr1 {
    padding-right: .25rem;
}

.mr4 {
    margin-right: 2rem;
}

.no-underline {
    text-decoration: none;
}

.f5 {
    font-size: 1rem;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}


.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.black {
    color: #000;
}

.pa2 {
    padding: .5rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.no-underline {
    text-decoration: none;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.grow:hover, .grow:focus {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.grow:active {
    -webkit-transform: scale(.9);
    transform: scale(.9);
}

.myBtn {
	margin: 16px;
	margin-bottom: 8px;
	position: fixed;
	top: 0;
	z-index: 1;
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }

    .w-50-ns {
        width: 50%;
    }
}

